body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
}

.carousel-inner{
  height: 100%;
}

.carousel-item{
  height: 100%;
  margin-top: 90px;
}

.carousel-item img {
  height: calc(100vh - 150px); /* Ajusta el 80px al tamaño de margen inferior que desees */
  /*height: 400px; /* Ajusta el 80px al tamaño de margen inferior que desees */
  object-fit: cover;
}

.carousel-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-container .carousel {
  flex: 1 0 auto;
}

.carousel-caption {
  /*background-color: rgba(139, 69, 19, 0.7); /* Fondo café con transparencia */
  background-color: rgba(25,26,29, 0.8);
  border-radius: 5px;
  padding: 1.5rem;
  border: 1px solid #fafafa;
  box-shadow: 0 5px 10px skyblue;
  margin-bottom: 100px;
}

/* Clase personalizada para definir el tamaño de la card */
.custom-card-size {
  width: 500px;
  height: 600px;
  overflow: hidden; /* Evita el desbordamiento del contenido */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Clase personalizada para asegurarse de que la imagen se ajuste a la card */
.custom-img-size {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del contenedor sin recortarse ni distorsionarse */
}

/* Asegura que el texto quede dentro del 30% restante del espacio */
.card-body {
  height: 30%; /* Ocupa el 30% restante para el texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden; /* Previene que el texto se desborde */
}